*.iml
.gradle
/local.properties
local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Kotlin
.kotlin/

# Android Studio / IntelliJ – lokaler Maschinenzustand
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/.name
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
